{
  "presets": [
    "@babel/preset-env",
    "solid", 
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    [
      "module-resolver",
      {
        "alias": {
          "solid-orbit": "./src"
        }
      }
    ]
  ]
}